{% extends 'base.html' %}

{% block title %}Inventory Management{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h2>Inventory Management</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>UID</th>
                <th>Item Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-danger">
                <td colspan="5"><b>Today</b></td>
            </tr>
            <tr>
                <td>Clarrise</td>
                <td>Cabansag</td>
                <td>10</td>
                <td>654321</td>
                <td>08/13/23</td>
            </tr>
            <tr>
                <td>Jane Rose</td>
                <td>Andrade</td>
                <td>200</td>
                <td>987654</td>
                <td>08/13/23</td>
            </tr>
            <tr>
                <td>Hannah Faith</td>
                <td>Moscosa</td>
                <td>46</td>
                <td>456789</td>
                <td>08/13/23</td>
            </tr>
            <tr class="table-danger">
                <td colspan="5"><b>Yesterday</b></td>
            </tr>
            <tr>
                <td>Clarrise</td>
                <td>Cabansag</td>
                <td>20</td>
                <td>654321</td>
                <td>08/12/23</td>
            </tr>
            <tr>
                <td>Jane Rose</td>
                <td>Andrade</td>
                <td>300</td>
                <td>987654</td>
                <td>08/12/23</td>
            </tr>
            <tr>
                <td>Hannah Faith</td>
                <td>Moscosa</td>
                <td>79</td>
                <td>456789</td>
                <td>08/12/23</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
