{% extends "dashboard.html" %}

{% block title %}Food Order UI{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='java/scripts1.js') }}"></script>
{% endblock %}

{% block content %}
    <header class="cashier-header">
        <h1>Cashier: Ilunajin</h1>
    </header>

    <section class="categories">
        <button class="category" data-category="all">All</button>
        <button class="category" data-category="solo-boodle-flight">Solo Boodle Flight</button>
        <button class="category" data-category="boodle-flights">Boodle Flights</button>
        <button class="category" data-category="a-la-carte">A La Carte</button>
        <button class="category" data-category="single-flights">Single Flights</button>
        <button class="category" data-category="international-flights">International Flights</button>
        <button class="category" data-category="uncle">Uncle D's</button>
        <button class="category" data-category="drink">Drinks</button>
        <button class="category" data-category="extra">Extras</button>
    </section>


    <section class="menu-items-container">
        <section class="menu-items" id="solo-boodle-flight">
            <h2>Solo Boodle Flight</h2>
            <div class="menu-grid">
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo1.png') }}" alt="solo1">
                    <p>FLT✈︎001</p>
                    <span>₱299.00</span>
                </div>
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo2.jpg') }}" alt="solo2">
                    <p>FLT✈︎002</p>
                    <span>₱299.00</span>
                </div>
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo3.jpg') }}" alt="solo3">
                    <p>FLT✈︎003</p>
                    <span>₱299.00</span>
                </div>
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo4.jpg') }}" alt="solo4">
                    <p>FLT✈︎004</p>
                    <span>₱299.00</span>
                </div>
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo5.jpg') }}" alt="solo5">
                    <p>FLT✈︎005</p>
                    <span>₱299.00</span>
                </div>
                <div class="menu-item" data-category="solo-boodle-flight">
                    <img src="{{ url_for('static', filename='img/soloflight/solo6.jpg') }}" alt="solo6">
                    <p>FLT✈︎006</p>
                    <span>₱299.00</span>
                </div>
            </div>
            </section>
    </section>
            <section class="menu-items-container">
                <section class="menu-items" id="boodle-flights">
                    <h2>Boodle Flights</h2>
                    <div class="menu-grid">
                        <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/batanes.jpg') }}" alt="batanes">
                    <p>Batanes</p>
                    <span>₱ 980.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/caticlan.jpg') }}" alt="caticlan">
                    <p>Caticlan</p>
                    <span>₱ 950.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/manila.jpg') }}" alt="manila">
                    <p>Manila</p>
                    <span>₱685.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/palawan.jpg') }}" alt="palawan">
                    <p>Palawan</p>
                    <span>₱699.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/pilipinas.jpg') }}" alt="pilipinas">
                    <p>Pilipinas</p>
                    <span>₱1,799.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/wowph.jpg') }}" alt="wowph">
                    <p>WOW PH</p>
                    <span>₱2,799.00</span>
                </div>
                <div class="menu-item" data-category="boodle-flights">
                    <img src="{{ url_for('static', filename='img/boodleflight/chooseph.jpg') }}" alt="chooseph">
                    <p>Choose PH</p>
                    <span>₱1,799.00</span>
                </div>
            </div>
        </section>
            </section>
            <section class="menu-items-container">
                <section class="menu-items" id="a-la-carte">
                    <h2>A La Carte</h2>
                    <div class="menu-grid">
                        <div class="menu-item" data-category="a-la-carte">
                    <img src="{{ url_for('static', filename='img/alacarte/angeles.jpg') }}" alt="angeles">
                    <p>Angeles</p>
                    <span>₱499.00</span>
                </div>
                <div class="menu-item" data-category="a-la-carte">
                    <img src="{{ url_for('static', filename='img/alacarte/pampanga.jpg') }}" alt="pampanga">
                    <p>Pampanga</p>
                    <span>₱179.00</span>
                </div>
                <div class="menu-item" data-category="a-la-carte">
                    <img src="{{ url_for('static', filename='img/alacarte/sampaloc.jpg') }}" alt="sampaloc">
                    <p>Sampaloc</p>
                    <span>₱295.00</span>
                </div>
                <div class="menu-item" data-category="a-la-carte">
                    <img src="{{ url_for('static', filename='img/alacarte/tagaytay.jpg') }}" alt="tagaytay">
                    <p>Tagaytay</p>
                    <span>₱480.00</span>
                </div>
                <div class="menu-item" data-category="a-la-carte">
                    <img src="{{ url_for('static', filename='img/alacarte/zambales.jpg') }}" alt="zambales">
                    <p>Tarlac</p>
                    <span>₱275.00</span>
                </div>
            </div>
        </section>
            </section>
            <section class="menu-items-container">
                <section class="menu-items" id="single-flights">
                    <h2>Single Flights</h2>
                    <div class="menu-grid">
                        <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/bacolod.jpg') }}" alt="bacolod">
                <p>Bacolod</p>
                <span>₱165.00</span>
            </div>
            <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/cebu.jpg') }}" alt="cebu">
                <p>Cebu</p>
                <span>₱165.00</span>
            </div>
            <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/dagupan.jpg') }}" alt="dagupan">
                <p>Dagupan</p>
                <span>₱179.00</span>
            </div>
            <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/gensan.jpg') }}" alt="gensan">
                <p>Gensan</p>
                <span>₱185.00</span>
            </div>
            <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/ilocos.jpg') }}" alt="ilocos">
                <p>Ilocos</p>
                <span>₱165.00</span>
            </div>
            <div class="menu-item" data-category="single-flights">
                <img src="{{ url_for('static', filename='img/singleflight/roxas.jpg') }}" alt="roxas">
                <p>Roxas</p>
                <span>₱185.00</span>
            </div>
    </div>
</section>
    <section class="menu-items" id="international-flights">
        <h2>International Flights</h2>
            <div class="menu-grid">
             <div class="menu-item" data-category="international-flights">
                <img src="{{ url_for('static', filename='img/international/belgium.jpg') }}" alt="belgium">
                <p>Belgium</p>
                <span>₱165.00</span>
            </div>
            <div class="menu-item" data-category="international-flights">
                <img src="{{ url_for('static', filename='img/international/france.jpg') }}" alt="france">
                <p>France</p>
                <span>₱189.00</span>
            </div>
            <div class="menu-item" data-category="international-flights">
                <img src="{{ url_for('static', filename='img/international/mexico.jpg') }}" alt="mexico">
                <p>Mexico</p>
                <span>₱189.00</span>
            </div>
            <div class="menu-item" data-category="international-flights">
                <img src="{{ url_for('static', filename='img/international/newyork.jpg') }}" alt="newyork">
                <p>New York</p>
                <span>₱185.00</span>
            </div>
            <div class="menu-item" data-category="international-flights">
                <img src="{{ url_for('static', filename='img/international/shanghai.jpg') }}" alt="shanghai">
                <p>Shanghai</p>
                <span>₱169.00</span>
            </div>
    </div>
</section>
    <section class="menu-items" id="uncle">
        <h2>Uncle D's</h2>
        <div class="menu-grid">
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/chocnut.jpg') }}" alt="chocnut">
                <p>Chocnut</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/coffee.jpg') }}" alt="coffee">
                <p>Coffee</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/melon.jpg') }}" alt="melon">
                <p>Melon</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/pandan.jpg') }}" alt="pandan">
                <p>Pandan</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/strawberry.jpg') }}" alt="strawberry">
                <p>Strawberry</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" data-category="uncle">
                <img src="{{ url_for('static', filename='img/uncle/ube.jpg') }}" alt="ube">
                <p>Ube</p>
                <span>₱95.00</span>
            </div>
            <div class="menu-item" >
                <img src="{{ url_for('static', filename='img/uncle/yema.jpg') }}" alt="yema">
                <p>Yema</p>
                <span>₱95.00</span>
            </div>
</div>
</section>
</section>

</main>

<aside class="order-summary">
<div class="order-details" id="orderDetails">
<h2>Order Details</h2>
<hr>
</div>

<div class="empty-cart" id="emptyCart">
<img src="{{ url_for('static', filename='img/emptybag.png') }}" alt="emptybag">
<h3>Cart Empty</h3>
<p>The cart is empty.<br>Start adding items from the menu.</p>
</div>

<div class="order-options" id="orderOptions" style="display: none;">
<button class="btn-dine-in">Dine In</button>
<button class="btn-take-out">Take Out</button>
</div>
<div class="order-Summary" id="orderSummary"></div>
<div class="total-amount-container" id="totalAmountContainer" style="display: none;">
    <h3>Total Amount: <span id="totalAmount">₱0.00</span></h3>
    <button id="continueButton">Continue</button>
</div>

</aside>
<div id="editpopupContainer" class="edit-popup-container hidden">
    <div class="edit-popup-content">
        <h3>Add Request</h3>
        <textarea id="notesInput" placeholder="Enter Request here:"></textarea>
        <div class="edit-popup-buttons">
            <button id="saveNotes">Save</button>
            <button id="cancelPopup">Cancel</button>
        </div>
    </div>
</div>


<div class="popup-container" id="popup">
<div class="popup-content">
<h2>No open Till</h2>
<p>Would you like to open till?</p>
<div class="popup-buttons">
    <button class="btn-no" id="btnNo">NO</button>
    <button class="btn-yes" id="btnYes">YES</button>
</div>
</div>
</div>
<div class="open-till-container" id="openTillAmount" style="display: none;">
<div class="open-till-content">
<h2>Open Till Amount</h2>
<input type="text" class="till-amount-display" disabled />
<div class="keypad">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>.</button>
    <button>0</button>
    <button><i class="fas fa-backspace"></i></button>
</div>
<button class="btn-open-drawer">Open Drawer</button>
</div>
</div>
</div>
</div>




{% endblock %}